<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--Cau hinh cho Application-->
    <appender name="INFO_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/coding_application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/coding_application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/coding_applicationError.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/coding_applicationError.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="myself.programing.coding.CodingApplication" level="INFO">
        <appender-ref ref="INFO_LOG" />
    </logger>
    <logger name="myself.programing.coding.CodingApplication" level="ERROR">
        <appender-ref ref="ERROR_LOG" />
    </logger>

    <!--dockerBaseService Logger-->
    <appender name="DOCKER_BASE_SERVICE_INFO_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/docker_base_service/docker_base_service_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/docker_base_service/docker_base_service_info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="DOCKER_BASE_SERVICE_ERROR_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/docker_base_service/docker_base_service_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/docker_base_service/docker_base_service_error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="myself.programing.coding.services.dockerService.DockerBaseService" level="INFO">
        <appender-ref ref="DOCKER_BASE_SERVICE_INFO_LOG" />
    </logger>
    <logger name="myself.programing.coding.services.dockerService.DockerBaseService" level="ERROR">
        <appender-ref ref="DOCKER_BASE_SERVICE_ERROR_LOG" />
    </logger>

    <!--JavaBaseService logger-->
    <appender name="JAVA_BASE_SERVICE_INFO_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/java_service/java_base/java_base_service_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/java_service/java_base/java_base_service_info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="JAVA_BASE_SERVICE_ERROR_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/java_service/java_base/java_base_service_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/java_service/java_base/java_base_service_error.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="myself.programing.coding.services.javaCoding.JavaBaseService" level="INFO">
        <appender-ref ref="JAVA_BASE_SERVICE_INFO_LOG" />
    </logger>
    <logger name="myself.programing.coding.services.javaCoding.JavaBaseService" level="ERROR">
        <appender-ref ref="JAVA_BASE_SERVICE_ERROR_LOG" />
    </logger>

    <!--JavaCompileController logger    -->
    <appender name="JAVA_COMPILE_CTR_SERVICE_INFO_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/java_controller/java_compile_controller/java_compile_controller_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/java_controller/java_compile_controller/java_compile_controller_info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="JAVA_COMPILE_CTR_SERVICE_ERROR_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/java_controller/java_compile_controller/java_compile_controller_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/java_controller/java_compile_controller/java_compile_controller_error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %p - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="myself.programing.coding.controllers.javaCode.JavaCompileController" level="INFO" additivity="false">
        <appender-ref ref="JAVA_COMPILE_CTR_SERVICE_INFO_LOG" />
        <appender-ref ref="JAVA_COMPILE_CTR_SERVICE_ERROR_LOG" />
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>
